body{
    background-image: url('../img/');
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    color: #202fb2;
    font-size: 50px;
    font-family: "Times New Roman";
    font-weight: 22px;
    line-height: 1.5px;
    text-decoration: none;
    text-transform: capitalize;
    width: auto;
    text-align: center;
    background-color: blueviolet;
}
p{
font-size: 16px;
line-height: 1.5px;
color: black;
width: 600px;
text-align: justify;
background-color: palegoldenrod;
}
img{
    max-width:100%;
}